ion-toolbar, ion-button {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}

ion-title {
    --color: var(--ion-color-primary-contrast);
}

ion-content {
    --background: var(--ion-color-dark);
}

ion-list, ion-item {
    --background: var(--ion-color-dark-shade);
    --color: var(--ion-color-primary-contrast);
}